$roadmap-arrow-down: url('/assets/roadmap/arrow-down.svg');
$roadmap-arrow-left: url('/assets/roadmap/arrow-left.svg');
$roadmap-arrow-right: url('/assets/roadmap/arrow-right.svg');

$hero-tokens-desktop: url('/assets/hero/tokens-desktop.png');
$hero-tokens-laptop: url('/assets/hero/tokens-laptop.png');
$hero-tokens-tablet: url('/assets/hero/tokens-tablet.png');
$hero-tokens-mobile: url('/assets/hero/tokens-mobile.png');

$curved-background-dark-desktop: url('/assets/section-cutoff-dark-desktop.svg');
$curved-background-dark-laptop: url('/assets/section-cutoff-dark-laptop.svg');
$curved-background-dark-tablet: url('/assets/section-cutoff-dark-tablet.svg');
$curved-background-dark-mobile: url('/assets/section-cutoff-dark-mobile.svg');

$curved-background-light-desktop: url('/assets/section-cutoff-light-desktop.svg');
$curved-background-light-laptop: url('/assets/section-cutoff-light-laptop.svg');
$curved-background-light-tablet: url('/assets/section-cutoff-light-tablet.svg');
$curved-background-light-mobile: url('/assets/section-cutoff-light-mobile.svg');
